@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
header {
  position: fixed;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
}

header .logo {
  font-family: "Yellowtail", cursive;
  color: #f04273;
  font-size: 2.2em;
}

header input {
  border: none;
  border: 1px solid rgba(27, 27, 27, 0.5);
  border-radius: 10px 0 0 10px;
  height: 30px;
  font-size: 1em;
  padding-left: 5px;
}

header button {
  background-color: #f04273;
  color: white;
  border: none;
  height: 30px;
  width: 70px;
  border-radius: 0 10px 10px 0;
  font-size: 1em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav i {
  font-size: 1.3em;
  cursor: pointer;
  visibility: hidden;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
  font-size: 1.1em;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

header nav ul li:hover {
  color: #f04273;
}

header nav ul #menuClose {
  visibility: hidden;
}

@media screen and (max-width: 900px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px;
  }
  header nav i {
    visibility: visible;
  }
  header nav ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    height: 100vh;
    top: 0;
    right: -300px;
    background-color: #f04273;
    margin: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  header nav ul li {
    margin-bottom: 10px;
    margin: 0;
    padding: 10px 0;
    color: #ebebeb;
  }
  header nav ul li:hover {
    padding-left: 5px;
    color: #fff;
  }
  header nav ul li .btn {
    border: none;
    background-color: transparent;
    padding: 0;
    color: #ebebeb;
  }
  header nav ul li .btn:hover {
    color: #fff;
  }
  header nav ul #menuClose {
    visibility: visible;
    cursor: pointer;
  }
  header nav .open-menu {
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 5px;
  }
  header input {
    width: 65%;
  }
}

main {
  min-height: 100vh;
  padding-top: 120px;
}

main .alert {
  width: 700px;
  height: 50px;
  border-radius: 5px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .alert-success {
  background-color: #6adf3c;
  color: #34691f;
}

main .alert-danger {
  background-color: #df3c57;
  color: #50181e;
}

main .posts-overview {
  text-align: center;
  font-size: 2rem;
  color: #4e4e4e;
  margin-bottom: 40px;
}

main .post {
  width: 700px;
  height: auto;
  margin: 30px auto 100px auto;
}

main .post h1 {
  margin: 0 0 15px 0;
  line-height: 1.4em;
}

main .post h2 {
  font-weight: normal;
  margin: 0 0 20px 0;
}

main .post .post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .post .post-info .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

main .post .post-info .profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .post .post-info div p {
  font-size: 0.9em;
  margin: 5px 0;
}

main .post .post-info div p a:hover {
  text-decoration: underline;
}

main .post .post-info div .author-name {
  font-weight: bold;
}

main .post .main-img {
  width: 100%;
  height: 400px;
  margin: 30px 0 70px 0;
}

main .post .main-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .post p {
  font-size: 1.2em;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

main .post .post-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .post .post-end .read-more {
  border-color: #4e4e4e;
  background-color: #4e4e4e;
  border-radius: 5px;
}

main .post .post-end .read-more:hover {
  background-color: transparent;
  color: #f04273;
  border-color: #f04273;
}

main .post .post-end .post-stats {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 750px) {
  main .post {
    width: 100%;
    padding: 0 5px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  margin: 20px auto;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.form form input,
.form form textarea {
  margin-bottom: 10px;
  padding: 10px 0 10px 5px;
}

.form form button {
  padding: 10px;
}

.form .error {
  color: red;
  font-weight: bold;
}

.form .success {
  color: green;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .form {
    width: 100%;
  }
}

.post-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upvotes-btn {
  border: none;
  background-color: transparent;
}

.profile-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 0 10%;
}

.profile-row .profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-row .profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comments {
  width: 700px;
  margin: 50px auto;
}

.comments h2 {
  text-align: center;
}

.comments .error {
  text-align: center;
  color: red;
  font-weight: bold;
}

.comments form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.comments form textarea {
  height: 100px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.comments form button {
  padding: 10px 0 10px 7px;
  width: 50%;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #4e4e4e;
  color: white;
  font-size: 1.2em;
}

.comments .comment {
  margin: 50px 0;
}

.comments .comment p {
  margin: 5px;
}

.comments .comment .comment-date {
  color: grey;
  font-size: 0.95em;
}

.comments .comment .comment-content {
  margin-top: 15px;
  line-height: 1.5em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  overflow-x: hidden;
}

body a {
  color: inherit;
  text-decoration: none;
}

body .btn {
  border: 1px solid #f04273;
  border-radius: 10px;
  background-color: #f04273;
  color: #fff;
  padding: 5px 10px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

body .btn:hover {
  background-color: transparent;
  color: #f04273;
}

body .edit {
  font-size: 18px;
  background-color: #4e4e4e;
  border-color: #4e4e4e;
  margin-right: 50px;
  text-align: center;
  min-width: 80px;
}

body .edit:hover {
  border-color: #4e4e4e;
  color: #4e4e4e;
}

body .delete {
  font-size: 18px;
  background-color: #df3c57;
  text-align: center;
  min-width: 80px;
  padding: 7px 10px !important;
}

body button {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */